.inputStyle {
    font-size: 20px;
    font-weight: 500;
    line-height: 29px;
    margin-bottom: 14px;
}

.inputStyle2{
    width: 100%;
    color: #C4CACB;
    line-height: 17px;
    font-size: 12px;
    padding: 10px;
    border-bottom: 1px solid #E9ECF2;
    background-color: #fff;
    margin: 10px 0;
}